<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% block title %}

        JobTrack

        {% endblock %}

    </title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash_style.css') }}">

</head>

<body>

    <div class="wrapper">

        <!-- Sidebar -->

        <aside class="sidebar">

            <div>

                <div class="logo">

                    <h2>JobTrack</h2>

                </div>

                <ul class="nav flex-column mt-5">

                    <li class="nav-item">
                        <a href="{{ url_for('dashboard') }}"
                            class="nav-link {% if active_page == 'dashboard' %}active{% endif %}">
                            <i class="bi bi-speedometer2"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('applications') }}"
                            class="nav-link {% if active_page == 'applications' %}active{% endif %}">
                            <i class="bi bi-briefcase"></i>
                            Applications
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('add_application') }}"
                            class="nav-link {% if active_page == 'add_application' %}active{% endif %}">
                            <i class="bi bi-plus-circle"></i>
                            Add Application
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('statistics') }}"
                            class="nav-link {% if active_page == 'statistics' %}active{% endif %}">
                            <i class="bi bi-bar-chart-line"></i>
                            Statistics
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('profile') }}"
                            class="nav-link {% if active_page == 'profile' %}active{% endif %}">
                            <i class="bi bi-person-circle"></i>
                            Profile
                        </a>
                    </li>

                </ul>

            </div>

            <div class="logout">

                <a href="{{ url_for('logout') }}" class="btn btn-danger w-100">

                    <i class="bi bi-box-arrow-right me-2"></i>

                    Logout

                </a>

            </div>

        </aside>

        <!-- Main -->

        <main class="main-content">

            <div class="dashboard-header">

                <div>

                    <h1>

                        {% block page_title %}

                        Dashboard

                        {% endblock %}

                    </h1>

                </div>

            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for category, message in messages %}

            <div class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show">

                {{ message }}

                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

            </div>

            {% endfor %}

            {% endif %}
            {% endwith %}

            {% block dashboard_content %}

            {% endblock %}

        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block scripts %}{% endblock %}


</body>

</html>
